---
import { articles } from "../../../data/blog";
import ArticleCard from "./ArticleCard.astro";

const categoria = Astro.props.categoria;
const destacado = Astro.props.destacado || false;

const filteredArticles = articles.filter(
  (article) =>
    (categoria === "Todo" || article.categoria === categoria) &&
    (!destacado || article.destacado === true),
);
---

<div class="grid lg:grid-cols-2 gap-14">
  {
    filteredArticles.map((article) => (
      <ArticleCard
        key={article.id}
        titulo={article.titulo}
        fecha={article.fecha}
        descripcion={article.descripcion}
        imagen={article.imagen}
        url={article.url}
      />
    ))
  }
</div>
