---
import { articles } from "../../../data/blog";
import ArticleCard from "./ArticleCard.astro";

const maxArticles = {
  view1: articles.length, // Display all articles
  view2: 6, // Display only 2 articles
};

const view = Astro.props.view || "view1"; // Get the current view from props
---

<div class="grid lg:grid-cols-2 gap-14">
  {
    articles
      .slice(0, maxArticles[view])
      .map((article) => (
        <ArticleCard
          key={article.id}
          titulo={article.titulo}
          fecha={article.fecha}
          descripcion={article.descripcion}
          imagen={article.imagen}
          url={article.url}
        />
      ))
  }
</div>
