---
import Layout from "../../layouts/Layout.astro";
import { datasets } from "../../data/datasets.js";
import FileType from "../../components/dataset/FileType.astro";

// TODO crear el mapeado para los StaticPaths y que sean dinámicos
export const getStaticPaths = () => {
  const datasetsWithSlug = datasets.filter((dataset) => dataset.slug !== "");

  return datasetsWithSlug.map((dataset) => {
    return {
      params: { slug: dataset.slug },
      props: { dataset },
    };
  });
};

const { dataset } = Astro.props;

const files = Object.keys(dataset)
  .filter((key) => {
    return (
      key === "csv" ||
      key === "excel" ||
      key === "sav" ||
      key === "geojson" ||
      key === "shp" ||
      key === "gpkg"
    );
  })
  .filter((key) => dataset[key] !== "");
---

<Layout title={dataset.nombre}
img={dataset.img}
description={dataset.descripcion}>
  <div class="flex flex-col gap-5 sm:gap-9 px-4 sm:px-0">
    <h1 class="text-3xl sm:text-[40px] text-azul-ciudatos font-bold">
      {dataset.nombre}
      <span>({dataset.año})</span>
    </h1>
    <span class="text-xl sm:text-[32px] text-[#4C4C4C]">{dataset.autor}</span>
    <img
      class="h-64 sm:h-[653px] w-auto object-cover"
      src={`/img/tarjetas-datos/${dataset.img}`}
      alt="Article image"
    />
    <p class="text-lg sm:text-[28px] text-[#585858]">
      {dataset.descripcion}
    </p>

    <section class="flex flex-col gap-10">
      <div class="flex flex-col gap-4">
        <h2 class="text-xl sm:text-[32px] text-[#040404] font-bold">
          Recursos del dataset
        </h2>
        <hr />
      </div>
      <ul class="flex flex-col gap-10 items-center mx-auto">
        {
          files.map((file) => (
            <FileType fileType={file} text={dataset.nombre} />
          ))
        }
      </ul>
      <div class="flex flex-col items-start gap-8 sm:items-center">
        <h3 class="text-xl sm:text-2xl text-[#040404] font-bold">Descargas</h3>
        <div
          class="flex flex-col w-full items-center gap-4 sm:flex-row sm:justify-center"
        >
          <a
            href={dataset.url_drive}
            class:list={[
              "flex items-center justify-center w-48 h-11 sm:w-60 sm:h-16 text-md sm:text-lg rounded-md sm:rounded-lg transition-colors",
              {
                "text-white bg-azul-ciudatos hover:bg-azul-ciudatos/90": true,
                "text-azul-ciudatos bg-white/80 sm:bg-white border border-azul-ciudatos hover:bg-azul-ciudatos/5 hover:border-azul-ciudatos/50": false,
              },
            ]}
            target="_blank"
          >
            Google Drive
          </a>

          <a
          href={dataset.url_github}
          class:list={[
            "flex items-center justify-center w-48 h-11 sm:w-60 sm:h-16 text-md sm:text-lg rounded-md sm:rounded-lg transition-colors",
            {
              "text-white bg-azul-ciudatos hover:bg-azul-ciudatos/90": true,
              "text-azul-ciudatos bg-white/80 sm:bg-white border border-azul-ciudatos hover:bg-azul-ciudatos/5 hover:border-azul-ciudatos/50": false,
            },
          ]}
          target="_blank"
        >
          Github
        </a>
        </div>
      </div>
    </section>
  </div>
</Layout>
